<div class="c-shop-header o-content c-home__header">
    <div class="o-content--wrapper">
        <div class="o-content__row" >
            <div class="o-col-12 o-content__row">
                <h2>{{ shop.name }}</h2>
                <div class="working-time">
                    <p *ngFor="let work_hour of shop.working_hours; let idx = index">
                        {{getWorkingTimeChars(work_hour.from)}} <span>-</span> {{getWorkingTimeChars(work_hour.to)}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
