<div class="top-bar">
    <div class="container-fluid">
    <div class="row">
        <div class="col hidden-md">
        <img src="/assets/images/hamburger_icon.png" alt="" />

        <div class="side_menu side_menu2">
            <h4>Menu</h4>

            <ul id="links">
                <li class="active" *ngFor="let category of shop.categories; let idx = index">
                    <a class="navigation__link" href="#{{ category.name }}" data-heading={category.name}>{{ category.name }}</a>
                </li>
            </ul>
        </div>
        </div>
    </div>

    <div class="col col-md-12">
        <div class="top-bar-text">
        <h2>{{ shop.name }}</h2>
        <p *ngFor="let work_hour of shop.working_hours; let idx = index">
            {{getWorkingTimeChars(work_hour.from)}} <span>-</span> {{getWorkingTimeChars(work_hour.to)}}
        </p>

        <form class="example">
            <input type="text" placeholder="Search.." name="search" />
            <button type="submit">
                <svg class="icon icon-search">
                    <use xlink:href="assets/symbol-defs.svg#icon-search"></use>
                </svg>
            </button>
        </form>
        </div>
    </div>
    <!--
            <div class="user-head"> <a class="inbox-avatar" href="#"> <img src="images/user_img.png"> </a> </div>
            -->
    </div>
</div>
