<div *ngFor="let category of shop.categories; let idx = index">
    <h3 id="category-{{idx}}">{{ category.name }}</h3>

    <ul>
        <li *ngFor="let product of category.products">
            <div class="product">
                <h3>{{product.name}}</h3>
                <p>{{product.description}}</p>
            </div>
            <div class="price" *ngFor="let price of product.prices">
                <h5>
                    {{ price | currency }}
                </h5>
                <span (click)="addToCart(product, price)">
                    <svg class="icon icon-search">
                        <use xlink:href="assets/symbol-defs.svg#icon-plus"></use>
                    </svg>
                </span>
            </div>
        </li>
    </ul>

</div>