<div class="o-content c-home__header">
    <div class="o-content--wrapper">
        <div class="c-sidebar" >
            <button mat-stroked-button [ngClass]="selectedCategory == 'all' ? 'active' : ''" (click)="onClickCategoryList('all')">All Categories</button>

            <button mat-raised-button *ngFor="let category of shop.categories" (click)="onClickCategoryList(category._id)" [ngClass]="selectedCategory == category._id ? 'active' : ''">
                {{ category.name }}
            </button>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="left" class="products">
            <div fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%"  *ngFor="let item of products; let idx = index">
                <mat-card (click)="openDialog(item)">
                    <img mat-card-image [src]="'assets/images/sample.jpg'" alt="image">
                    <mat-card-content>
                        <mat-card-title>{{item.product.name}}</mat-card-title>
                        <p class="description">
                            {{item.product.description}}
                        </p>
                        <p class="price">{{item.product.prices[0] | currency}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>