@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/objects";


.c-sidebar {
    padding-left: 10px;

    button {
        margin-right: 15px;
        margin-bottom: 10px;
        color: $dark-violet;
    }

    .active {
        margin-right: 15px;
        margin-bottom: 10px;
        background-color: $blue;
        color: white;
    }
}

.products {
    width: 100%;
    .mat-card {
        padding: 15px !important;
        // height: 150px;
        margin: 10px;
        
        img {
            height: 150px;
        }
    }
    .mat-card-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: -15px;
        margin-top: -5px;
    }
    p.description {
        font-size: large;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        margin-left: -15px;
    }
    p.price {
        font-size: larger;
        font-weight: 500;
        margin-left: -15px;
        margin-top: -5px;
    }
}

ul {
    list-style: none;
    margin: 0;
    color: #090909;

    li {
        width: 100%;
        background: #ffffff;
        border-radius: 8px;
    }
}