<div class="o-content c-header">
    <div class="o-content--wrapper">
      <div class="o-content__row c-header__content">
        <h2 class="c-header__brand"><a href="/">Food Delivery</a></h2>
  
        <div class="c-header__menu" id="menuMobile">
          <div class="c-header__menu__content">
            <div class="c-header__menu__content__close">
              <mat-icon (click)="toggleMenu()">close</mat-icon>
            </div>
  
            <ul class="c-header__links">
                <li class="c-header__links__link c-header__links__link--chip"><a routerLink="/">LOGIN</a></li>
                <!-- <li class="c-header__links__link c-header__links__link--chip"><a routerLink="/professional-form">CART</a></li> -->
            </ul>
          </div>
        </div>
  
        <mat-icon (click)="toggleMenu()" class="u-show-mobile">menu</mat-icon>
      </div>
    </div>
  </div>
  