/* TAMAÑOS */
$height-nav-menu: 85px;
$height-nav-menu-mobile: 60px;

$size-start: 20px;

$size-title: 40px;
$size-title-1: 24px;
$size-title-2: 18px;
$size-title-3: 16px;
$size-title-4: 14px;

$size-title-mobile: 24px;
$size-title-1-mobile: 19px;
$size-title-2-mobile: 18px;
$size-title-3-mobile: 16px;
$size-title-4-mobile: 14px;

$size-copy: 16px;
$size-copy-low: 14px;

$size-border-radius: 4px;
$margin-botton-section: 15px;

$max-width-mobile: 767px;

/* COLORES */
$dark-violet: #673ab7;
$violet: #8181f8;
$lilac: #7265e2;
$soft-lilac: #e4dfff;
$dark-lilac: #163058;

$yellow: #f7d781;
$strong-yellow: #fac73f;
$red: #f9798d;
$blue: #1a89ff;
$dark-blue: #1b0ca2;
$cian: #21cfce;
$turquoise: #7be4f2;
$favaorite-color: #f93964;

$grey: #f5f6fa;
$dark-grey: #7b7f91;
$soft-grey: #fafafa;
$white: #ffffff;
