.main-body {
    width: 100%;
    margin-top: 3rem;
}

.sidebar {
    width: 30rem;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: fixed;
}

.product-list {
    margin-left: 32rem;
}