a {
    &.btn{
        color: darken($primary-color, 15%);
        cursor: pointer;
        transition: all .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        text-decoration: none;
        &:hover {
            color: $primary-color;
        }
    }
}